.footer{
    background-color: var(--color-bg);
    font-family: var(--montserrat);
    color: var(--color-dark-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 2.5rem;
    
    
}